/* Stylesheet for Liberty Lee JOUR352 Final Project */

/* Splash */
.hero-container {
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
    margin-bottom: 0;
}

.hero-image {
    height: 100vh; 
    position: relative;
    width: 100%;
}

.hero-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-text {
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 75%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    z-index: 2;
}

.hero-head{
    position: static;
    color: #fff;
    padding: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Spectral', serif;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.overlay {
    position: static;
    width: 100%;
    height: 100%;
    top: 15%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;

}

.hero-sub {
    position: static;
    transform: none;
    color: #fff;
    font-family: "Spectral", serif;
    font-weight: 300;
    font-size: 2em;
    text-align: right;
    margin-left: 55%;
    margin-right: 1%;
    
}

/* Top hat */
.nav-logo {
    color: #000000;
    margin:0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

/* Body contnent */
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1200px;

}

.byline {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dateline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 20px;

}

.img-att {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    text-align: right;
    margin-top: 0;
    margin-bottom: 7px;
    list-style-type: none;
}

.caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}

.chapter-headline {
    font-family: 'Spectral', serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}

.end-attribute {
    font-size: .8em;
}

/* Pull quote */
.quote {
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.quote-attribution {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}

.highlight {
    color: #D25A3F;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
    margin-left: 10%;
}


/* Grid */
.container-fluid {
    width: 100%;
    background-color: #c6c6c6;
}

.container-overflow-hidden-text-center {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.chart {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
}

.list {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 35%;

}

.list li {
    margin-bottom: 3em;
    
}

/* Timeline */
.timeline-container {
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/* Map */
.map-container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 70%;
    height: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 

}

/* Media Queries */

/* Styles for extra-small screens or mobile devices */
@media (max-width: 768.9px) {
    .container {
        width: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.9em;
    }

     .hero-head {
        font-size: 1.8em;
        padding: 0 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-sub {
        font-size: 1.2em;
    }

    .hero-text {
        width: 90%;
        padding: 10px;
        top: 65%;
    }
}
    /* Styles for small-sized screens or tablets */
    @media (min-width: 768px) and (max-width: 991.9px) {
    .container {
        width: 750px;
        padding-left: 20px;
        padding-right: 20px;
    }

    
    p {
        padding: 0 20px;
    }

    .hero-head {
        font-size: 2.5em;
        padding: 0 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-sub {
        font-size: 1.3em;
    }

    .hero-text {
        width: 90%;
        padding: 15px;
        top: 70%;
    }
}

/* Styles for medium-sized screens or desktops */
    @media (min-width: 992px) and (max-width: 119.9px) {
    .container {
        width: auto;
        max-width: 970px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Styles for large-sized screens or desktops */
    @media (min-width: 1220px) {
    .container {
        width: auto;
        max-width: 1170px;
        padding-left: 20px;
        padding-right: 20px;
    }
}