/* Stylesheet for Liberty Lee JOUR352 Final Project */

/* Splash */
.hero-container {
    position: relative;
    text-align: left;
    color: white;
    width: 100%;

}

.hero-image {
    height: 100vh; 
    position: relative;
    width: 100%;
}

.hero-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-text {
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 88%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    z-index: 2;
}

.hero-head{
    position: static;
    color: #fff;
    top: 50%;
    padding: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Spectral', serif;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.overlay {
    position: static;
    width: 100%;
    height: 100%;
    top: 15%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;

}

.hero-sub {
    position: static;
    transform: none;
    color: #fff;
    font-size: 1.5em;
}

/* Top hat */
.nav-logo {
    color: #000000;
    margin:0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

/* Body contnent */
body {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;

}

.chapter-headline {
    font-family: 'Spectral', serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Pull quote */
.quote {
    font-family: 'Oswald', sans-serif;
    color:#000000;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.quote-attribution {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Highlight color */
.highlight {
    color: #D25A3F;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    margin-left: 10%;
}


/* Grid */
.container-overflow-hidden-text-center {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list {
    text-align: justify;
    text-justify: inter-word;
}


/* Media Queries */

/* Styles for small screens or mobile devices */
@media (max-width: 576px) {
    p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.9em;
    }

     .hero-head {
        font-size: 1.8em;
    }

    .hero-sub {
        font-size: 1.2em;
    }

    .hero-text {
        width: 90%;
        padding: 10px;
        top: 80%;
    }
}
    /* Styles for tablets or medium-sized screens */
    @media (min-width: 577px) and (max-width: 992px) {
    p {
        padding: 0 20px;
    }

    .hero-head {
        font-size: 2.5em;
        margin-left: 10px;
        margin-right: 10px;
    }

    .hero-sub {
        font-size: 1.3em;
    }

    .hero-text {
        width: 90%;
        padding: 15px;
        top: 80%;
    }
}