/*Stylesheet for Midterm*/

body {
    margin: 0;
    padding: 0;
}

#content {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
   
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}


h1 {
    font-size: 70px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    margin-top: 50px;
    padding-top: 20px;
}

h2 {
    font-family: 'GFS Didot', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

h3 {
    font-family: 'GFS Didot', sans-serif;
    font-size: 18px;
    font-style: bold;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

h5 {
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

#byline {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px
}

#dateline {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.main-image {
    width: 95%;
    max-width: 1600px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
}
p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

#sza-quote {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

#read-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.related-links {
    font-family: 'Helvetica', sans-serif;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
}

a {
    color: inherit;
    margin: auto;
    font-weight: 300;
    line-height: 1.5;
}


.body-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

iframe {
    width: 75%;
    height: 500px;
    border: none;
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}