/*Stylesheet for Midterm*/

body {
    margin: 0;
    padding: 0;
}

container {
    width: 100%;
    max-width: 1200px;
    margin: 10px !important;
    padding: 20px !important;
}

.banner {
    margin: 0;
    height: auto;
    width: 100%;
   
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}


h1 {
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    margin-top: 20px;
}

h2 {
    font-family: 'GFS Didot', sans-serif;
    font-weight: 100;
    font-size: 25 px;
}

h3 {
    font-family: 'GFS Didot', sans-serif;
    font-size: 18px;
    font-style: bold;
}

#byline {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 5px
}

#dateline {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.main-image {
    width: 95%;
    max-width: 1600px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 8em;
}
p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

#sza-quote {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 20px;;
}

#read-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.body-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
}